*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: 100%;
}
body{
    font-family: "Inter", sans-serif;
    font-size: 14px;
    margin: 0;
    background-color: #e1e1e1;
    font-weight: 560;


    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* -------------------NAVIGATION BAR------------------------ */
.main-navbar{
    /* background-color: white; */
    /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); */
    /* background: hsl(0 0% 100% / .1); */
    backdrop-filter: blur(0.01rem);
    /* position: relative; */
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
nav .main-navbar{
    gap: 35px;
    margin-top: 20px;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #454545;
    transition: 0.3s ease;
    position: relative;
}
nav a:hover{
    /* background-color: #6e7a8691; */
    border-radius: 3px;
    /* color: #e1e1e1; */
    color: #143b62;
    /* box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); */
}
.main-navbar a{
    transition: 0.3s ease;
    font-size: 14px;
}
.main-navbar a:hover{
    transform: scale(1.08);
}
.main-navbar a:after{
    content:"";
    position: absolute;
    background-color: #0D59A5;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -1px;
    transition: 0.3s ease;
}
.main-navbar a:hover:after{
    width: 100%;
}
#svg{
    color:#0D59A5;
}
nav .main-navbar li:last-child{
    margin-left: auto;
    font-size: 18px;
    font-weight: bold;
    color: #454545;
    margin-right: 25px;
}
.sidebar{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background: hsla(0, 0%, 100%, 0);
    /* background: rgba(46, 62, 70, 0.53); */
    backdrop-filter: blur(1rem);
    background-color: #143b6296;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.3s ease;
    font-weight: 500;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    margin-top: 22px;
    width: 100%;
    margin-left: 35px;
    color: #e1e1e1;
}
.sidebar a:hover{
    color: #cbebf1;
    font-weight: 650;
    text-transform: uppercase;
}
.menu-button{
    display: none;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
/* -------------------NAVIGATION BAR /end------------------------ */


/*--------------------------------LOG IN--------------------------- */
.pop-up{
    z-index: 888;
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.01);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.pop-up.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.pop-up .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #143b62;
    color: #e1e1e1;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.pop-up .form h2{
    text-align: center;
    color: #143b62;
    margin: 10px 0px 20px;
    font-size: 25px;
}
.pop-up .form .form-element{
    margin: 15px 0px;
}
.pop-up .form .form-element label{
    font-size: 14px;
    color: #143b62;
}
.pop-up .form .form-element input[type="text"],
.pop-up .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 6px;
}
.pop-up .form .form-element input[type="checkbox"]{
    margin-right: 5px;
}
.pop-up .form .form-element button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: linear-gradient(to top right, #143b62, #0D59A5);
    color: #e1e1e1;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 650;
    letter-spacing: 1.1px;
}
.pop-up .form .form-element a{
    display: block;
    text-align: center;
    font-size: 15px;
    color: #0D59A5;
    text-decoration: none;
    font-weight: 600;
}
/*--------------------------------LOG IN css end--------------------------- */


/*--------------------------------HERO SECTION--------------------------- */
.heroe{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.hero-content{
    width: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heroe p{
    text-align: justify;
    margin-bottom: 30px;
    position: relative;
    top: 50px;
    color: #2b2a2a;
}
.hero-content h1{
    margin-bottom: 30px;
    font-size: 90px;
    position: relative;
    top: 50px;
    color: #0D59A5;
}
@media(max-width: 1160px){
    .hero-content{
        width: 900px;
    }
}
@media(max-width: 1070px){
    .hero-content{
        width: 850px;
    }
}
@media(max-width: 1050px){
    .hero-content{
        width: 780px;
    }
}
@media(max-width: 920px){
    .hero-content{
        width: 750px;
    }
}
@media(max-width: 850px){
    .hero-content{
        width: 700px;
    }
    .hero-content h1{
        font-size: 80px;
    }
}
@media(max-width: 760px){
    .hero-content{
        width: 600px;
    }
    .hero-content h1{
        font-size: 70px;
    }
}
@media(max-width: 690px){
    .hero-content{
        width: 500px;
    }
    .hero-content h1{
        font-size: 60px;
    }
}
@media(max-width: 560px){
    .hero-content{
        width: 400px;
    }
    .hero-content h1{
        font-size: 50px;
    }
    .heroe p{
        font-size: 12px;
    }
}
@media(max-width: 450px){
    .hero-content{
        width: 350px;
    }
    .hero-content h1{
        font-size: 50px;
    }
    .heroe p{
        font-size: 12px;
    }
}
@media(max-width: 400px){
    .hero-content{
        width: 335px;
    }
    .hero-content h1{
        font-size: 45px;
    }
    .heroe p{
        font-size: 12px;
    }
}
@media(max-width: 380px){
    .hero-content{
        width: 320px;
    }
    .hero-content h1{
        font-size: 45px;
    }
    .heroe p{
        font-size: 12px;
    }
}
/*--------------------------------HERO SECTION END--------------------------- */



/*--------------------------------ABOUT--------------------------- */
.about{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 5em;
    width: 100%;
    background-color: transparent;
    align-items: center;
}
.about-content{
    width: 950px;
}
.about h3{
    font-size: 25px;
    font-weight: 400;
    color: #0D59A5;
    display: flex;
    align-items: left;
}
.about p{
    color: #2b2a2a;
    margin-top: 25px;
    text-align: justify;
}
.about h2{
    font-size: 35px;
    margin-top: 10px;
    color: #2b2a2a;
}
@media(max-width: 1160px){
    .about-content{
       width: 900px;
    }
}
@media(max-width: 1070px){
    .about-content{
       width: 850px;
    }
}
@media(max-width: 1050px){
    .about-content{
       width: 780px;
    }
}
@media(max-width: 920px){
    .about-content{
       width: 750px;
    }
}
@media(max-width: 850px){
    .about-content{
       width: 700px;
    }
    .about h3{
        font-size: 22.5px;
        font-weight: 400;
        color: #0D59A5;
        display: flex;
        align-items: left;
    }
    .about h2{
        font-size: 30px;
        margin-top: 10px;
    }
}
@media(max-width: 760px){
    .about-content{
       width: 600px;
    }
    .about h3{
        font-size: 22.5px;
        font-weight: 400;
        color: #0D59A5;
        display: flex;
        align-items: left;
    }
    .about h2{
        font-size: 30px;
        margin-top: 10px;
    }
}
@media(max-width: 690px){
    .about-content{
       width: 500px;
    }
    .about h3{
        font-size: 22.5px;
        font-weight: 400;
        color: #0D59A5;
        display: flex;
        align-items: left;
    }
    .about h2{
        font-size: 30px;
        margin-top: 10px;
    }
}
@media(max-width: 560px){
    .about-content{
       width: 400px;
    }
    .about h3{
        font-size: 17.5px;
        font-weight: 550;
        color: #0D59A5;
        display: flex;
        align-items: left;
    }
    .about p{
        font-size: 12px;
    }
    .about h2{
        font-size: 25px;
        margin-top: 10px;
    }
}
@media(max-width: 450px){
    .about-content{
       width: 350px;
    }
    .about h3{
        font-size: 17.5px;
        font-weight: 550;
        color: #0D59A5;
        display: flex;
        align-items: left;
    }
    .about p{
        font-size: 12px;
    }
    .about h2{
        font-size: 25px;
        margin-top: 10px;
    }
}
@media(max-width: 400px){
    .about-content{
       width: 335px;
    }
    .about h3{
        font-size: 17.5px;
        font-weight: 550;
        color: #0D59A5;
        display: flex;
        align-items: left;
    }
    .about p{
        font-size: 12px;
    }
    .about h2{
        font-size: 25px;
        margin-top: 10px;
    }
}
@media(max-width: 380px){
    .about-content{
       width: 320px;
    }
    .about h3{
        font-size: 17.5px;
        font-weight: 550;
        color: #0D59A5;
        display: flex;
        align-items: left;
    }
    .about p{
        font-size: 12px;
    }
    .about h2{
        font-size: 20px;
        margin-top: 10px;
    }
}

/*--------------------------------ABOUT END--------------------------- */


/*--------------------------------IMAGES--------------------------- */
.images{
    margin-top: 70px;
    margin-bottom: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.images img{
    height: 200px;
    filter: drop-shadow(8px 8px 10px rgba(128, 128, 128, 0.492));
}
.images p{
    font-size: 30px;
    font-weight: bold;
    color: #2b2a2a;
    margin-bottom: 5px;
}
.images .r1{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 110px;
}
.images .r2{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 110px;
}
.images .r3{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 110px;
}
@media(max-width: 1520px){
    .images{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;
    }
    .images img{
        height: 200px;
    }
    .images p{
        font-size: 30px;
        font-weight: bold;
        color: #2b2a2a;
    }
    .images .r1{
        display: flex;
        align-items: center;
        gap: 110px;
    }
    .images .r2{
        display: flex;
        align-items: center;
        gap: 110px;
    }
    .images .r3{
        display: flex;
        align-items: center;
        gap: 110px;
    }
}
@media(max-width: 1050px){
    .images{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .images img{
        height: 180px;
    }
    .images p{
        font-size: 30px;
        font-weight: bold;
        color: #2b2a2a;
    }
    .images .r1{
        display: flex;
        align-items: center;
        gap: 80px;
    }
    .images .r2{
        display: flex;
        align-items: center;
        gap: 80px;
    }
    .images .r3{
        display: flex;
        align-items: center;
        gap: 80px;
    }
}
@media(max-width: 865px){
    .images{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .images img{
        height: 165px;
    }
    .images p{
        font-size: 30px;
        font-weight: bold;
        color: #2b2a2a;
    }
    .images .r1{
        display: flex;
        align-items: center;
        gap: 50px;
    }
    .images .r2{
        display: flex;
        align-items: center;
        gap: 50px;
    }
    .images .r3{
        display: flex;
        align-items: center;
        gap: 50px;
    }
}
@media(max-width: 690px){
    .images{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .images img{
        height: 150px;
    }
    .images p{
        font-size: 30px;
        font-weight: bold;
        color: #2b2a2a;
    }
    .images .r1{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .images .r2{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    .images .r3{
        display: flex;
        align-items: center;
        gap: 30px;
    }
}
@media(max-width: 590px){
    .images{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .images img{
        height: 130px;
    }
    .images p{
        font-size: 30px;
        font-weight: bold;
        color: #2b2a2a;
    }
    .images .r1{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .images .r2{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .images .r3{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
@media(max-width: 500px){
    .images{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .images img{
        height: 110px;
    }
    .images p{
        font-size: 30px;
        font-weight: bold;
        color: #2b2a2a;
    }
    .images .r1{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .images .r2{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    .images .r3{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
@media(max-width: 400px){
    .images{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .images img{
        height: 100px;
    }
    .images p{
        font-size: 30px;
        font-weight: bold;
        color: #2b2a2a;
    }
    .images .r1{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .images .r2{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .images .r3{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
@media(max-width: 380px){
    .images{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
    .images img{
        height: 90px;
    }
    .images p{
        font-size: 30px;
        font-weight: bold;
        color: #2b2a2a;
    }
    .images .r1{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .images .r2{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .images .r3{
        display: flex;
        align-items: center;
        gap: 10px;
    }
}
/*--------------------------------IMAGES END--------------------------- */


/* --------------------------FOOTER------------------------- */
footer{
    background-color: #e1e1e1;
    color: #454545;
    padding: 10px;

    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media(max-width: 700px){
    footer{
        font-size: 12.5px;
    }
}
@media(max-width: 600px){
    footer{
        font-size: 11px;
    }
}
@media(max-width: 380px){
    footer{
        font-size: 9px;
    }
}
/* --------------------------FOOTER/end------------------------- */