*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* overflow: hidden; */
    font-family: "Inter", sans-serif;
    font-size: 14px;
    margin: 0;
    background-color: #e1e1e1;
    font-weight: 560;

    
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/* -------------------NAVIGATION BAR------------------------ */
.main-navbar{
    /* background-color: white; */
    /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); */
    /* background: hsl(0 0% 100% / .1); */
    backdrop-filter: blur(0.01rem);
    /* position: relative; */
    z-index: 999;
    position: absolute;
    top: 0;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
nav .main-navbar{
    gap: 35px;
    margin-top: 20px;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #454545;
    transition: 0.3s ease;
    position: relative;
}
nav a:hover{
    /* background-color: #6e7a8691; */
    border-radius: 3px;
    /* color: #e1e1e1; */
    color: #143b62;
    /* box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); */
}
.main-navbar a{
    transition: 0.3s ease;
    font-size: 14px;
}
.main-navbar a:hover{
    transform: scale(1.08);
}
.main-navbar a:after{
    content:"";
    position: absolute;
    background-color: #0D59A5;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -1px;
    transition: 0.3s ease;
}
.main-navbar a:hover:after{
    width: 100%;
}
#svg{
    color:#0D59A5;
}
nav .main-navbar li:last-child{
    margin-left: auto;
    font-size: 18px;
    font-weight: bold;
    color: #454545;
    margin-right: 25px;
}
.sidebar{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background: hsla(0, 0%, 100%, 0);
    /* background: rgba(46, 62, 70, 0.53); */
    backdrop-filter: blur(1rem);
    background-color: #143b6296;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.3s ease;
    font-weight: 500;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    margin-top: 22px;
    width: 100%;
    margin-left: 35px;
    color: #e1e1e1;
}
.sidebar a:hover{
    color: #cbebf1;
    font-weight: 650;
    text-transform: uppercase;
}
.menu-button{
    display: none;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
/* -------------------NAVIGATION BAR /end------------------------ */



/*--------------------------------LOG IN--------------------------- */
.pop-up{
    z-index: 888;
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.01);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.pop-up.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.pop-up .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #143b62;
    color: #e1e1e1;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.pop-up .form h2{
    text-align: center;
    color: #143b62;
    margin: 10px 0px 20px;
    font-size: 25px;
}
.pop-up .form .form-element{
    margin: 15px 0px;
}
.pop-up .form .form-element label{
    font-size: 14px;
    color: #143b62;
}
.pop-up .form .form-element input[type="text"],
.pop-up .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 6px;
}
.pop-up .form .form-element input[type="checkbox"]{
    margin-right: 5px;
}
.pop-up .form .form-element button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: linear-gradient(to top right, #143b62, #0D59A5);
    color: #e1e1e1;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 650;
    letter-spacing: 1.1px;
}
.pop-up .form .form-element a{
    display: block;
    text-align: center;
    font-size: 15px;
    color: #0D59A5;
    text-decoration: none;
    font-weight: 600;
}



.background-img{
    background-image: url(assets/contact-bg-overlay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    opacity: 0.1;
    position: relative;
}



/* img{
    float: left;
    width: 4.5%;
    height: 4.5%;
    display
} */
/* .container{
    position: absolute;
    width: 60%;
    left: 20%;
    top: 25%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
p{
    position: relative;
    top: 10px;
    left: 3em;
    display: flex;
    flex-direction: column;
    gap: 40px;
} */

.features{
    position: absolute;
    top: 17em;
    margin-left: 34em;
}
.features p{
    padding: 21px 0;
    font-size: 15px;
}
.fimg{
    position: absolute;
    top: 17em;
}

.fimg img{
    width: 40px;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    margin-left: 26em;
}
@media(max-width: 1520px){
    .features{
        top: 17em;
        margin-left: 32em;
    }
    .fimg img{
        width: 40px;
        margin-left: 24em;
    }
}
@media(max-width: 1485px){
    .features{
        top: 17em;
        margin-left: 30em;
    }
    .fimg img{
        width: 40px;
        margin-left: 22em;
    }
}
@media(max-width: 1400px){
    .features{
        top: 17em;
        margin-left: 28em;
    }
    .fimg img{
        width: 40px;
        margin-left: 20em;
    }
}
@media(max-width: 1375px){
    .features{
        top: 17em;
        margin-left: 25em;
    }
    .fimg img{
        width: 40px;
        margin-left: 17em;
    }
}
@media(max-width: 1298px){
    .features{
        top: 17em;
        margin-left: 22em;
    }
    .fimg img{
        width: 40px;
        margin-left: 14em;
    }
}
@media(max-width: 1221px){
    .features{
        top: 17em;
        margin-left: 19em;
    }
    .fimg img{
        width: 40px;
        margin-left: 11em;
    }
}
@media(max-width: 1140px){
    .features{
        top: 17em;
        margin-left: 16em;
    }
    .fimg img{
        width: 40px;
        margin-left: 8em;
    }
}
@media(max-width: 1105px){
    .features{
        top: 16em;
        margin-left: 22em;
        width: 500px;
    }
    .features p{
        padding: 19px 0;
        font-size: 15px;
    }
    .fimg img{
        padding: 16px 0;
        width: 42px;
        margin-left: 14em;
    }
    .fimg{
        top: 16em;
    }
}
@media(max-width: 1004px){
    .features{
        top: 16em;
        margin-left: 20em;
        width: 500px;
    }
    .features p{
        padding: 19px 0;
        font-size: 15px;
    }
    .fimg img{
        padding: 16px 0;
        width: 42px;
        margin-left: 12em;
    }
    .fimg{
        top: 16em;
    }
}
@media(max-width: 943px){
    .features{
        top: 16em;
        margin-left: 18em;
        width: 500px;
    }
    .features p{
        padding: 19px 0;
        font-size: 15px;
    }
    .fimg img{
        padding: 16px 0;
        width: 42px;
        margin-left: 10em;
    }
    .fimg{
        top: 16em;
    }
}
@media(max-width: 887px){
    .features{
        top: 16em;
        margin-left: 16em;
        width: 500px;
    }
    .features p{
        padding: 19px 0;
        font-size: 15px;
    }
    .fimg img{
        padding: 16px 0;
        width: 42px;
        margin-left: 8em;
    }
    .fimg{
        top: 16em;
    }
}
@media(max-width: 822px){
    .features{
        top: 16em;
        margin-left: 14em;
        width: 500px;
    }
    .features p{
        padding: 19px 0;
        font-size: 15px;
    }
    .fimg img{
        padding: 16px 0;
        width: 42px;
        margin-left: 8em;
    }
    .fimg{
        top: 16em;
    }
}
@media(max-width: 781px){
    .features{
        top: 16em;
        margin-left: 12em;
        width: 500px;
    }
    .features p{
        padding: 19px 0;
        font-size: 15px;
    }
    .fimg img{
        padding: 16px 0;
        width: 42px;
        margin-left: 6em;
    }
    .fimg{
        top: 16em;
    }
}
@media(max-width: 743px){
    .features{
        top: 16em;
        margin-left: 12em;
        width: 400px;
    }
    .features p{
        padding: 20px 0;
        font-size: 12px;
    }
    .fimg img{
        padding: 14px 0;
        width: 32.5px;
        margin-left: 6em;
    }
    .fimg{
        top: 16.5em;
    }
}
@media(max-width: 659px){
    .features{
        top: 16em;
        margin-left: 12em;
        width: 350px;
    }
    .features p{
        padding: 20px 0;
        font-size: 12px;
    }
    .fimg img{
        padding: 14px 0;
        width: 32.5px;
        margin-left: 6em;
    }
    .fimg{
        top: 16.5em;
    }
}
@media(max-width: 594px){
    .features{
        top: 16em;
        margin-left: 12em;
        width: 300px;
    }
    .features p{
        padding: 20px 0;
        font-size: 11px;
    }
    .fimg img{
        padding: 15.5px 0;
        width: 32.5px;
        margin-left: 6em;
    }
    .fimg{
        top: 16.5em;
    }
}
@media(max-width: 550px){
    .features{
        top: 16em;
        margin-left: 10em;
        width: 300px;
    }
    .features p{
        padding: 20px 0;
        font-size: 11px;
    }
    .fimg img{
        padding: 15.5px 0;
        width: 32.5px;
        margin-left: 5em;
    }
    .fimg{
        top: 16.5em;
    }
}
@media(max-width: 512px){
    .features{
        top: 16em;
        margin-left: 8em;
        width: 300px;
    }
    .features p{
        padding: 20px 0;
        font-size: 11px;
    }
    .fimg img{
        padding: 15.5px 0;
        width: 32.5px;
        margin-left: 4em;
    }
    .fimg{
        top: 16.5em;
    }
}
@media(max-width: 467px){
    .features{
        top: 16em;
        margin-left: 8em;
        width: 250px;
    }
    .features p{
        padding: 17px 0;
        font-size: 11px;
        line-height: 15px;
    }
    .fimg img{
        padding: 18px 0;
        width: 32.5px;
        margin-left: 4em;
    }
    .fimg{
        top: 16.5em;
    }
}
@media(max-width: 410px){
    .features{
        top: 16em;
        margin-left: 8em;
        width: 200px;
    }
    .features p{
        padding: 17px 0;
        font-size: 11px;
        line-height: 15px;
    }
    .fimg img{
        padding: 22px 0;
        width: 32.5px;
        margin-left: 4em;
    }
    .fimg{
        top: 16em;
    }
}
@media(max-width: 401px){
    .features{
        top: 16em;
        margin-left: 9em;
        width: 200px;
    }
    .features p{
        padding: 17px 0;
        font-size: 11px;
        line-height: 15px;
    }
    .fimg img{
        padding: 22px 0;
        width: 32.5px;
        margin-left: 5em;
    }
    .fimg{
        top: 16em;
    }
}



footer{
    width: 100%;
    z-index: 899;
    position: absolute;
    bottom: 0;
}
.footer-c{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}
@media(max-width: 500px){
  .footer-c{
    font-size: 12px;
  }  
}
@media(max-width: 420px){
    .footer-c{
      font-size: 10px;
    }  
  }



