*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}
html body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;

}
body{
    /* background-image: url(assets/bg-overlay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
    min-height: 100%;
}


.background-img{
    background-image: url(assets/bg-overlay.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    opacity: 0.1;
    height: 140vh;
    z-index: -1;
    position: relative;
    top: 0;
}

/* -------------------NAVIGATION BAR------------------------ */
.main-navbar{
    /* background-color: white; */
    /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); */
    /* background: hsl(0 0% 100% / .1); */
    backdrop-filter: blur(0.01rem);
    /* position: relative; */
    z-index: 998;
    position: absolute;
    top: 0;
}
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
nav .main-navbar{
    gap: 35px;
    margin-top: 20px;
}
nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #454545;
    transition: 0.3s ease;
    position: relative;
}
nav a:hover{
    /* background-color: #6e7a8691; */
    border-radius: 3px;
    /* color: #e1e1e1; */
    color: #143b62;
    /* box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3); */
}
.main-navbar a{
    transition: 0.3s ease;
    font-size: 14px;
}
.main-navbar a:hover{
    transform: scale(1.08);
}
.main-navbar a:after{
    content:"";
    position: absolute;
    background-color: #0D59A5;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -1px;
    transition: 0.3s ease;
}
.main-navbar a:hover:after{
    width: 100%;
}
#svg{
    color:#0D59A5;
}
nav .main-navbar li:last-child{
    margin-left: auto;
    font-size: 18px;
    font-weight: bold;
    color: #454545;
    margin-right: 25px;
}
.sidebar{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background: hsla(0, 0%, 100%, 0);
    /* background: rgba(46, 62, 70, 0.53); */
    backdrop-filter: blur(1rem);
    background-color: #143b6296;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transition: 0.3s ease;
    font-weight: 500;
}
.sidebar li{
    width: 100%;
}
.sidebar a{
    margin-top: 22px;
    width: 100%;
    margin-left: 35px;
    color: #e1e1e1;
}
.sidebar a:hover{
    color: #cbebf1;
    font-weight: 650;
    text-transform: uppercase;
}
.menu-button{
    display: none;
}

@media(max-width: 800px){
    .hideOnMobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
}
@media(max-width: 400px){
    .sidebar{
        width: 100%;
    }
}
/* -------------------NAVIGATION BAR /end------------------------ */




/*--------------------------------LOG IN--------------------------- */
.pop-up{
    z-index: 888;
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.01);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.pop-up.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}
.pop-up .close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #143b62;
    color: #e1e1e1;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
.pop-up .form h2{
    text-align: center;
    color: #143b62;
    margin: 10px 0px 20px;
    font-size: 25px;
}
.pop-up .form .form-element{
    margin: 15px 0px;
}
.pop-up .form .form-element label{
    font-size: 14px;
    color: #143b62;
}
.pop-up .form .form-element input[type="text"],
.pop-up .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 6px;
}
.pop-up .form .form-element input[type="checkbox"]{
    margin-right: 5px;
}
.pop-up .form .form-element button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: linear-gradient(to top right, #143b62, #0D59A5);
    color: #e1e1e1;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 650;
    letter-spacing: 1.1px;
}
.pop-up .form .form-element a{
    display: block;
    text-align: center;
    font-size: 15px;
    color: #0D59A5;
    text-decoration: none;
    font-weight: 600;
}




.txtt{
    margin-top: 9em;
    z-index: 778;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 22px;
    position: absolute;
    top: 0;
}
.txt-cont{
    text-align: justify;
    width: 750px;
    margin-left: 10.5em;
}

.txt {
    margin-left: 10.5em;
}


.container img{
    float: left;
    width: 4%;
    height: 4%;
    border-radius: 5px;
}
.container{
    position: absolute;
    top: 25em;
    left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
p{
    position: relative;
    top: 5px;
    left: 1em;
    display: flex;
    flex-direction: column;
    gap: 40px;
}







/*--------------------------------TABLE--------------------------- */
.blue-box{
    background-color: #d1d1d1;
    width: 100%;
    color: #142b62;
    position: absolute;
    bottom: -16em;
    z-index: 977;
}
table{
   border-collapse: collapse;
   width: 100%;
   height: 150px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.t2{
    margin-top: -40px;
}
tr{
    cursor: pointer;
}
th{
    font-style: oblique;
}
th,td{
    text-align: center;
    padding: 0 50px;
    font-weight: 500;
}
#header{
    font-size: 40px;
}
#header2{
    font-size: 40px;
}
@media(max-width: 1521px){
    table{
        width: 100%;
        height: 150px;
        transition: all 0.3s ease-in-out;
    }
    .t2{
        margin-top: -40px;
        transition: all 0.3s ease-in-out;
    }
    th,td{
        padding: 0 50px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
    }
    #header{
        font-size: 40px;
        transition: all 0.3s ease-in-out;
    }
    #header2{
        font-size: 40px;
        transition: all 0.3s ease-in-out;
    }
}
@media(max-width: 976px){
    table{
        width: 100%;
        height: 145px;
    }
    .t2{
        margin-top: -40px;
    }
    th,td{
        padding: 0 30px;
        font-weight: 500;
    }
    #header{
        font-size: 35px;
    }
    #header2{
        font-size: 35px;
    }
}
@media(max-width: 816px){
    table{
        width: 100%;
        height: 130px;
    }
    .t2{
        margin-top: -40px;
    }
    th,td{
        padding: 0 25px;
        font-weight: 500;
    }
    #header{
        font-size: 30px;
    }
    #header2{
        font-size: 30px;
    }
}
@media(max-width: 700px){
    table{
        width: 100%;
        height: 130px;
    }
    .t2{
        margin-top: -40px;
    }
    th,td{
        padding: 0 20px;
        font-weight: 500;
    }
    #header{
        font-size: 30px;
    }
    #header2{
        font-size: 30px;
    }
}
@media(max-width: 660px){
    table{
        width: 100%;
        height: 120px;
    }
    .t2{
        margin-top: -40px;
    }
    th,td{
        padding: 0 15px;
        font-weight: 500;
    }
    tr{
        font-size: 12px;
    }
    #header{
        font-size: 25px;
    }
    #header2{
        font-size: 25px;
    }
}
@media(max-width: 544px){
    table{
        width: 100%;
        height: 110px;
    }
    .t2{
        margin-top: -40px;
    }
    th,td{
        padding: 0 15px;
        font-weight: 500;
    }
    tr{
        font-size: 11px;
    }
    #header{
        font-size: 20px;
    }
    #header2{
        font-size: 20px;
    }
}
@media(max-width: 488px){
    table{
        width: 100%;
        height: 90px;
    }
    .t2{
        margin-top: -40px;
    }
    th,td{
        padding: 0 15px;
        font-weight: 500;
    }
    tr{
        font-size: 9px;
    }
    #header{
        font-size: 15px;
    }
    #header2{
        font-size: 15px;
    }
}
@media(max-width: 415px){
    table{
        width: 100%;
        height: 80px;
    }
    .t2{
        margin-top: -25px;
    }
    th,td{
        padding: 0 8px;
        font-weight: 500;
    }
    tr{
        font-size: 9px;
    }
    #header{
        font-size: 15px;
    }
    #header2{
        font-size: 15px;
    }
}
/*--------------------------------TABLE /end--------------------------- */

.machine-img{
    position: absolute;
    bottom: -.5em;
    right: 0;
}
.machine-img img{
    width: 500px;
    height: 420px;
}




@media(max-width: 1188px){
    .container img{
        width: 4%;
        height: 4%;
    }
    p{
        top: 5px;
        left: 1em;
        gap: 40px;
    }
    .container{
        width: 700px;
        top: 25em;
        gap: 10px;
    }
    .txtt{
        margin-top: 9em;
        line-height: 22px;
        top: 0;
    }
    .txt-cont{
        width: 750px;
        margin-left: 9.5em;
        font-size: 13px;
    }
    .txt{
        margin-left: 9.5em;
        font-size: 13px;
    }
    .machine-img{
        bottom: 1em;
        right: 0;
    }
    .machine-img img{
        width: 470px;
        height: 390px;
    }
}
@media(max-width: 1020px){
    .container img{
        width: 4%;
        height: 4%;
    }
    p{
        top: 5px;
        left: 1em;
        gap: 40px;
    }
    .container{
        width: 700px;
        top: 25em;
        gap: 10px;
    }
    .txtt{
        margin-top: 9em;
        line-height: 22px;
        top: 0;
    }
    .txt-cont{
        width: 750px;
        margin-left: 7.5em;
        font-size: 13px;
    }
    .txt{
        margin-left: 7.5em;
        font-size: 13px;
    }
    .machine-img{
        bottom: 1em;
        right: 0;
    }
    .machine-img img{
        width: 470px;
        height: 390px;
    }
}
@media(max-width: 997px){
    .container img{
        width: 4%;
        height: 4%;
    }
    p{
        top: 5px;
        left: 1em;
        gap: 40px;
    }
    .container{
        width: 700px;
        top: 45em;
        gap: 10px;
    }
    .txtt{
        margin-top: 9em;
        line-height: 22px;
        top: 0;
    }
    .txt-cont{
        width: 750px;
        margin-left: 6.5em;
        font-size: 13px;
    }
    .txt{
        margin-left: 6.5em;
        font-size: 13px;
    }
    .machine-img{
        bottom: 1em;
        right: 0;
    }
    .machine-img img{
        width: 450px;
        height: 370px;
    }
    .blue-box{
        bottom: -28em;
    }
}
@media(max-width: 931px){
    .container img{
        width: 4%;
        height: 4%;
    }
    p{
        top: 5px;
        left: 1em;
        gap: 40px;
    }
    .container{
        width: 700px;
        top: 45em;
        gap: 10px;
    }
    .txtt{
        margin-top: 9em;
        line-height: 22px;
        top: 0;
    }
    .txt-cont{
        width: 650px;
        margin-left: 6.5em;
        font-size: 13px;
    }
    .txt{
        margin-left: 6.5em;
        font-size: 13px;
    }
    .machine-img{
        bottom: 1em;
        right: 0;
    }
    .machine-img img{
        width: 450px;
        height: 370px;
    }
    .blue-box{
        bottom: -28em;
    }
}
@media(max-width: 829px){
    .container img{
        width: 4%;
        height: 4%;
    }
    p{
        top: 5px;
        left: 1em;
        gap: 40px;
    }
    .container{
        width: 700px;
        top: 45em;
        gap: 10px;
    }
    .txtt{
        margin-top: 7em;
        line-height: 22px;
        top: 0;
    }
    .txt-cont{
        width: 550px;
        margin-left: 6.5em;
        font-size: 13px;
    }
    .txt{
        margin-left: 6.5em;
        font-size: 13px;
    }
    .machine-img{
        bottom: 1em;
        right: 0;
    }
    .machine-img img{
        width: 450px;
        height: 370px;
    }
    .blue-box{
        bottom: -28em;
    }
}
@media(max-width: 751px){
    .container img{
        width: 4%;
        height: 4%;
    }
    p{
        top: 5px;
        left: 1em;
        gap: 40px;
    }
    .container{
        width: 700px;
        top: 45em;
        gap: 10px;
    }
    .txtt{
        margin-top: 7em;
        line-height: 22px;
        top: 0;
    }
    .txt-cont{
        width: 500px;
        margin-left: 6.5em;
        font-size: 13px;
    }
    .txt{
        margin-left: 6.5em;
        font-size: 13px;
    }
    .machine-img{
        bottom: 1em;
        right: 0;
    }
    .machine-img img{
        width: 400px;
        height: 320px;
    }
    .blue-box{
        bottom: -28em;
    }
}
@media(max-width: 685px){
    .container img{
        width: 4%;
        height: 4%;
    }
    p{
        top: 5px;
        left: 1em;
        gap: 40px;
    }
    .container{
        width: 700px;
        top: 45em;
        gap: 10px;
    }
    .txtt{
        margin-top: 7em;
        line-height: 22px;
        top: 0;
    }
    .txt-cont{
        width: 450px;
        margin-left: 6em;
        font-size: 13px;
    }
    .txt{
        margin-left: 6sem;
        font-size: 13px;
    }
    .machine-img{
        bottom: 1em;
        right: 0;
    }
    .machine-img img{
        width: 400px;
        height: 320px;
    }
    .blue-box{
        bottom: -28em;
    }
}
@media(max-width: 629px){
    .container img{
        width: 4%;
        height: 4%;
    }
    p{
        top: 5px;
        left: 1em;
        gap: 40px;
    }
    .container{
        width: 700px;
        top: 45em;
        gap: 10px;
    }
    .txtt{
        margin-top: 7em;
        line-height: 22px;
        top: 0;
    }
    .txt-cont{
        width: 450px;
        margin-left: 5.5em;
        font-size: 12px;
    }
    .txt{
        margin-left: 5.5em;
        font-size: 12px;
    }
    .machine-img{
        bottom: 2em;
        right: 0;
    }
    .machine-img img{
        width: 400px;
        height: 320px;
    }
    .blue-box{
        bottom: -28em;
    }
}
@media(max-width: 600px){
    .container img{
        width: 4%;
        height: 4%;
    }
    p{
        top: 5px;
        left: 1em;
        gap: 40px;
    }
    .container{
        width: 700px;
        top: 45em;
        gap: 10px;
    }
    .txtt{
        margin-top: 7em;
        line-height: 20px;
        top: 0;
    }
    .txt-cont{
        width: 400px;
        margin-left: 5.5em;
        font-size: 12px;
    }
    .txt{
        margin-left: 5.5em;
        font-size: 12px;
    }
    .machine-img{
        bottom: 2em;
        right: 0;
    }
    .machine-img img{
        width: 400px;
        height: 320px;
    }
    .blue-box{
        bottom: -28em;
    }
}
@media(max-width: 560px){
    .container img{
        width: 4%;
        height: 4%;
    }
    p{
        top: 5px;
        left: 1em;
        gap: 40px;
    }
    .container{
        width: 700px;
        top: 45em;
        gap: 10px;
    }
    .txtt{
        margin-top: 7em;
        line-height: 20px;
        top: 0;
    }
    .txt-cont{
        width: 400px;
        margin-left: 3.5em;
        font-size: 12px;
    }
    .txt{
        margin-left: 3.5em;
        font-size: 12px;
    }
    .machine-img{
        bottom: 2em;
        right: 0;
    }
    .machine-img img{
        width: 400px;
        height: 320px;
    }
    .blue-box{
        bottom: -24em;
    }
}
@media(max-width: 525px){
    .container img{
        width: 4%;
        height: 4%;
    }
    p{
        top: 5px;
        left: 1em;
        gap: 40px;
    }
    .container{
        width: 700px;
        top: 42.5em;
        gap: 10px;
    }
    .txtt{
        margin-top: 7em;
        line-height: 17px;
        top: 0;
    }
    .txt-cont{
        width: 380px;
        margin-left: 3.5em;
        font-size: 11px;
    }
    .txt{
        margin-left: 3.5em;
        font-size: 11px;
    }
    .machine-img{
        bottom: 4.5em;
        right: 0;
    }
    .machine-img img{
        width: 400px;
        height: 320px;
    }
    .blue-box{
        bottom: -21em;
    }
}
@media(max-width: 488px){
    .container img{
        width: 4%;
        height: 4%;
    }
    p{
        top: 5px;
        left: 1em;
        gap: 40px;
    }
    .container{
        width: 700px;
        top: 38em;
        gap: 10px;
    }
    .txtt{
        margin-top: 7em;
        line-height: 17px;
        top: 0;
    }
    .txt-cont{
        width: 350px;
        margin-left: 3.5em;
        font-size: 11px;
    }
    .txt{
        margin-left: 3.5em;
        font-size: 11px;
    }
    .machine-img{
        bottom: 7.5em;
        right: 0;
    }
    .machine-img img{
        width: 350px;
        height: 270px;
    }
    .blue-box{
        bottom: -15em;
    }
}
@media(max-width: 458px){
    .container img{
        width: 4%;
        height: 4%;
    }
    p{
        top: 5px;
        left: 1em;
        gap: 40px;
    }
    .container{
        width: 700px;
        top: 38em;
        gap: 10px;
    }
    .txtt{
        margin-top: 7em;
        line-height: 17px;
        top: 0;
    }
    .txt-cont{
        width: 350px;
        margin-left: 2.9em;
        font-size: 11px;
    }
    .txt{
        margin-left: 2.9em;
        font-size: 11px;
    }
    .machine-img{
        bottom: 7.5em;
        right: 0;
    }
    .machine-img img{
        width: 350px;
        height: 270px;
    }
    .blue-box{
        bottom: -15em;
    }
}